<mat-toolbar color="primary">
  <span><a routerLink="" routerLinkActive="mat-accent">My Messages</a></span>
  <span class="space"></span>
  <ul>
    <li>
      <a mat-button *ngIf="authStatus" (click)="addNew()">New Post
      </a>
    </li>
    <li>
      <button mat-button *ngIf="authStatus" (click)="logout()">Logout</button>
    </li>
    <li>
      <a mat-button *ngIf="!authStatus"
          routerLinkActive="mat-accent"
          routerLink="/auth/login">Login
      </a>
    </li>
    <li>
      <a mat-button *ngIf="!authStatus"
          routerLinkActive="mat-accent"
          routerLink="/auth/signup">Signup
      </a>
    </li>
  </ul>
</mat-toolbar>